/*Backgrounds*/
#MainContainer{
    background-image: url("../../img/hand-drawning.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*General css styles*/

#MainContent{
    display: flex;
    flex-direction: column;
    margin: 6rem auto 3rem auto;
}
/*Informe seu cep style*/
#informeSeuCep{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 25px auto 80px auto;
    width: 25rem;
    height: 10rem;
    border: solid black 0.3rem;
}
#CepButton{
    outline: none;
    border-radius: 0.2rem;
}
#CepButton:hover{
    color: rgb(148, 0, 0);
}
#cepText{
    margin: 1.5rem 3rem 0.5rem 3rem;
    color: black;
}
#CepAnchor{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
#CepAnchor:hover{
    color: rgb(122, 0, 0);
    text-decoration: none;
}
/*Franquias part*/
#procurarFranquias{
    margin: auto;
    width: 75em;
    height: 30em;
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 0);
}
#displayFranquias{
    display: flex;
    flex-wrap: wrap;
    width: 75em;
    height: 28em;
    overflow-y: scroll;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
}
#porLocalInput{
    width: 40em;
    height: 2em;
    margin: 0.5em 17.5em;
    border-radius: 0.5em;
    text-align: center;
}

@media(max-width: 1200px){
    #procurarFranquias{
        width: 37.5em;
    }
    #displayFranquias{
        width: 37.5em;
        height: 100rem;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #porLocalInput{
        width: 20em;
        margin: 0.5em 8.75em ;
    }
}
/*Downloa App part*/
#AppsPart{

    width: 20em;
    margin: 9em auto 3em auto;
    text-align: center;

}
#AppText{
    color: black;
    font-size: 20px;
}
#buttonsApp{
    display: flex;
    justify-content: center;
}

.Stores{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.5em;
    width: 8em;
    margin: 0 1em;
    cursor: pointer;
    color: rgb(54, 54, 54);
}
.StoresText{
    margin: 0.5em 0;
    color: rgb(97, 97, 97);
}

.Stores:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
