#main_footer {
    background-color: rgb(0, 0, 0);
    

}
#footer_botton {
    color: red;
}
#footer_main {
    color: white!important;
}
.icone {
    color: white;
}

#footer_title {
    color: red;
    font-size: 1.2rem;
}

#footer_text {
    color: white;
}
/*Smooth scroll*/
html {
    scroll-behavior: smooth;
}
  
  